{{> top_partial}}
{{#each friends_plans}}
<div><br></div>
<div class="card text-bg-light" style="width: 80rem;">
    <div class="card-body">
        {{> finger_partial}}
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{{plan}}}</li>
    </ul>
    <div class="card-body">
        <ul class="nav">

            <li class="nav-item">
                <a class="nav-link disabled">{{finger.username}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{self_link}}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{self_link}}history">History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{self_link}}feed">Friends</a>
            </li>
        </ul>
    </div>
</div>
{{/each}}
{{> bottom_partial}}
