{{> top_partial}}
{{>finger_partial}}
<div>
    <p></p>
</div>


Username: {{finger.username}}<br>
Real Name: {{finger.realname}}<br>
Location: {{finger.location}}<br>
Description: {{finger.description}}<br>
Links:
<ul>
    {{#each finger.links}}
    <li><a href="{{this}}" target="_">{{@key}}</a></li>
    {{/each}}
</ul>
{{> bottom_partial}}
